APP_NAME=submission_robot
#应用环境，可选值：local、development、staging、production，默认为production即可
APP_ENV=production
#应用密钥，可以使用php artisan key:generate重新生成
APP_KEY=base64:Rh2lj36WjH/vtRbOrd1stb0kRLz01ydnTI4PfQiz1LM=
#是否开启调试模式
APP_DEBUG=false
#网站URL，只需要填写协议（http://或者https://）和域名（如：google.com），不需要在后面加斜杠
APP_URL=http://localhost
#后台网站是否使用https，推荐使用https（就是true）
ADMIN_HTTPS=false

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# 数据库配置
DB_CONNECTION=mysql
#数据库地址
DB_HOST=127.0.0.1
#数据库端口
DB_PORT=3306
#数据库名称
DB_DATABASE=submission_robot
#数据库用户名
DB_USERNAME=root
#数据库密码
DB_PASSWORD=

BROADCAST_DRIVER=log

FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_DRIVER=redis

MEMCACHED_HOST=127.0.0.1

# Redis配置
# Redis连接地址
REDIS_HOST=127.0.0.1
# Redis连接密码
REDIS_PASSWORD=null
# Redis连接端口
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
